/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
resources/views/system/index.blade.php~
resources/views/system/internments/create.blade.php~
resources/views/system/internments/edit.blade.php~
resources/views/system/internments/index.blade.php~
resources/views/system/patients/edit.blade.php~
resources/views/template/footer.blade.php~
resources/views/template/head.blade.php~
routes/api.php~
routes/web.php~
Writerside/c.list
Writerside/v.list
Writerside/writerside.cfg
resources/views/system/patients/edit.blade.php~
routes/api.php~
routes/web.php~
resources/views/system/census/index.blade.php~
resources/views/system/census/edit.blade.php~
resources/views/index.blade.php~
public/js/patients/edit.js~
public/js/internments/show.js~
public/js/internments/pending.js~
public/js/internments/index.js~
public/js/internments/edit.js~
public/js/census/edit.js~
database/migrations/2024_10_08_191243_drafts.php~
database/migrations/2024_10_08_083613_internments.php~
database/migrations/2024_10_08_083557_patients.php~
app/Services/Api/Internments/InternmentsService.php~
app/Services/Api/Drafts/DraftsService.php~
app/Services/Api/Census/CensusService.php~
app/Repositories/Api/Patients/PatientsRepository.php~
app/Repositories/Api/Internments/InternmentsRepository.php~
app/Repositories/Api/Drafts/DraftsRepository.php~
app/Models/Patients.php~
app/Models/Internments.php~
app/Http/Controllers/Api/Statistics/StatisticsController.php~
app/Http/Controllers/Api/Patients/PatientsController.php~
app/Http/Controllers/Api/Drafts/DraftsController.php~
public/js/internments/edit.js~
database/migrations/2024_10_08_083557_patients.php~
app/Models/Internments.php~
public/js/census/index.js~
resources/views/system/internments/show.blade.php~
